.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    h3 {
      font-size: 14px;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .icons {
    display: flex;
    gap: 20px;
    .icon {
      cursor: pointer;
    }
  }
}
